@import url('https://fonts.google.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-card {
    width: 40vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    box-shadow:0 0 0.325rem rgba(255, 255, 255, 0.5) ;
    border-radius: 10px;
    padding: 30px;
}

img {
    width: 180px;
    border-radius: 10px;
}

.icon-box {
    width: 180px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box i {
    font-size: 35px;
    cursor: pointer;
    opacity: 0.8;
    margin-inline: 3px;
    transition: all 0.3s linear;
    color: black;
}

.icon-box i:hover {
    opacity: 1;
    transform: scale(1.2);
    color: rgba(255, 255, 255, 0.5);
}
a {
    text-decoration: none;
}

.portfolio {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding-top: 70vh;
    height: 50vh;
    border-radius: ;
   
}

.portfolio a {
    color: rgba(255, 255, 255, 0.5);
    width: 12em;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 10vh;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    



    ;
}

.portfolio a:hover {
    transform: scale(0.9);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    backdrop-filter: blur(8px);
}